<nav aria-label="Footer"
    class="wt-pt-xs-2 wt-pt-md-6 wt-pr-xs-4 wt-pb-xs-2 wt-pb-md-4 wt-pl-xs-4 wt-text-caption wt-bg-denim wt-text-white"
    data-footer-extra-links="">
    <div class="wt-body-max-width">
        <div class="wt-grid" style="justify-content: space-around; display: flex;">
            <div class="wt-mb-xs-2 wt-grid__item-md-3">
                <h3 class="wt-hide-xs wt-show-md wt-text-title-01 wt-mb-xs-2 wt-text-left-xs wt-pr-xs-1">
                    Shop
                </h3>

                <button type="button"
                    class="wt-hide-md wt-content-toggle--btn wt-width-full wt-btn wt-btn--transparent wt-btn--light wt-content-toggle--with-icon wt-content-toggle--flush wt-text-white wt-mb-xs-1"
                    data-wt-content-toggle="" aria-controls="footer-extra-links-shop" aria-expanded="false">
                    <span class="wt-text-title-01 wt-text-left-xs wt-flex-xs-auto wt-width-full">
                        Shop
                    </span>
                    <span class="wt-content-toggle--btn__icon"></span>
                </button>

                <div id="footer-extra-links-shop" class="wt-content-toggle__body" aria-hidden="false">
                    <ul class="wt-list-unstyled wt-text-left-xs wt-pl-xs-1 wt-pl-sm-0 wt-pr-xs-1">
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/giftcards?ref=ftr">

                                <span>Gift cards</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/categories">

                                <span>Sitemap</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="/blog/en/?ref=ftr">

                                <span>Etsy blog</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/uk?locale_override=GBP%7Cen-GB%7CGB">

                                <span>Etsy United Kingdom</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/de?locale_override=EUR%7Cde%7CDE">

                                <span>Etsy Germany</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/ca?locale_override=CAD%7Cen-US%7CCA">

                                <span>Etsy Canada</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="wt-mb-xs-2 wt-grid__item-md-3">
                <h3 class="wt-hide-xs wt-show-md wt-text-title-01 wt-mb-xs-2 wt-text-left-xs wt-pr-xs-1">
                    Sell
                </h3>

                <button type="button"
                    class="wt-hide-md wt-content-toggle--btn wt-width-full wt-btn wt-btn--transparent wt-btn--light wt-content-toggle--with-icon wt-content-toggle--flush wt-text-white wt-mb-xs-1"
                    data-wt-content-toggle="" aria-controls="footer-extra-links-sell" aria-expanded="false">
                    <span class="wt-text-title-01 wt-text-left-xs wt-flex-xs-auto wt-width-full">
                        Sell
                    </span>
                    <span class="wt-content-toggle--btn__icon"></span>
                </button>

                <div id="footer-extra-links-sell" class="wt-content-toggle__body" aria-hidden="false">
                    <ul class="wt-list-unstyled wt-text-left-xs wt-pl-xs-1 wt-pl-sm-0 wt-pr-xs-1">
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/sell?ref=ftr">

                                <span>Sell on Etsy</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                id="collage-footer__community-teams-link"
                                href="https://www.etsy.com/sso-community?return_to=https%3A%2F%2Fcommunity.etsy.com%2Ft5%2FEtsy-Teams%2Fct-p%2Fteams"
                                rel="nofollow">

                                <span>Teams</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                id="collage-footer__community-forums-link"
                                href="https://www.etsy.com/sso-community?return_to=https%3A%2F%2Fcommunity.etsy.com%2Ft5%2FEtsy-Forums%2Fct-p%2Fforums"
                                rel="nofollow">

                                <span>Forums</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/affiliates?ref=ftr" rel="nofollow">

                                <span>Affiliates</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="wt-mb-xs-2 wt-grid__item-md-3">
                <h3 class="wt-hide-xs wt-show-md wt-text-title-01 wt-mb-xs-2 wt-text-left-xs wt-pr-xs-1">
                    About
                </h3>

                <button type="button"
                    class="wt-hide-md wt-content-toggle--btn wt-width-full wt-btn wt-btn--transparent wt-btn--light wt-content-toggle--with-icon wt-content-toggle--flush wt-text-white wt-mb-xs-1"
                    data-wt-content-toggle="" aria-controls="footer-extra-links-about" aria-expanded="false">
                    <span class="wt-text-title-01 wt-text-left-xs wt-flex-xs-auto wt-width-full">
                        About
                    </span>
                    <span class="wt-content-toggle--btn__icon"></span>
                </button>

                <div id="footer-extra-links-about" class="wt-content-toggle__body" aria-hidden="false">
                    <ul class="wt-list-unstyled wt-text-left-xs wt-pl-xs-1 wt-pl-sm-0 wt-pr-xs-1">
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/about?ref=ftr">

                                <span>Etsy, Inc.</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/legal?ref=ftr">

                                <span>Policies</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://investors.etsy.com">

                                <span>Investors</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/careers?ref=ftr">

                                <span>Careers</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/press?ref=ftr">

                                <span>Press</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/impact?ref=ftr">

                                <span>Impact</span>
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="wt-mb-xs-2 wt-grid__item-md-3">
                <h3 class="wt-hide-xs wt-show-md wt-text-title-01 wt-mb-xs-2 wt-text-left-xs wt-pr-xs-1">
                    Help
                </h3>

                <button type="button"
                    class="wt-hide-md wt-content-toggle--btn wt-width-full wt-btn wt-btn--transparent wt-btn--light wt-content-toggle--with-icon wt-content-toggle--flush wt-text-white wt-mb-xs-1"
                    data-wt-content-toggle="" aria-controls="footer-extra-links-help" aria-expanded="false"
                    data-keep-open="">
                    <span class="wt-text-title-01 wt-text-left-xs wt-flex-xs-auto wt-width-full">
                        Help
                    </span>
                    <span class="wt-content-toggle--btn__icon"></span>
                </button>

                <div id="footer-extra-links-help" class="wt-content-toggle__body" aria-hidden="false" data-keep-open="">
                    <ul class="wt-list-unstyled wt-text-left-xs wt-pl-xs-1 wt-pl-sm-0 wt-pr-xs-1">
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                href="https://www.etsy.com/help?ref=ftr">

                                <span>Help Center</span>
                            </a>
                        </li>
                        <li class="wt-pt-xs-1 wt-pb-xs-2 wt-pb-md-1 wt-display-block wt-width-full ">
                            <a class="appshell-responsive-footer-link wt-text-white wt-text-link-no-underline"
                                data-gdpr-privacy-settings-trigger="" href="#">

                                <span>Privacy settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div id="footer">
        <p>Developed and Designed by Mason Trepagnier</p>
    </div>
</nav>