<div class="container">

    <div class="row">
        <div class="row align-items-start" style="background-color: #D3D3D3; margin: 0; padding: 5%">
            <div class="col" style="margin: 0px">
                <h1 style="text-align: center; font-family: Rubik; font-weight: 700;">Witeboard Photo contests</h1>
                <p style="text-align: center; margin-top: 50px; font-family: roboto_condensed;">Witeboard is the ultimate all-in-one photo contest website! Create your own contest, vote in others, or participate in hundreds of contests!</p>
                <button type="button" class="button">Create a Post</button>
            </div>
            <div class="col" style="text-align:center; margin: 0px">
                <img src="/assets/images/undraw_learning_re_32qv.svg" alt="" style="max-width: 350px; margin-top: 25px;">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <h2 style="font-family: Rubik; font-weight: 700;">Why choose Witeboard?</h2>
                <p style="font-family: roboto_condensed;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, repellendus quae ad magni ratione, enim eligendi quaerat officiis omnis et inventore quo voluptate totam ea esse veritatis placeat dolorum consectetur.</p>
            </div>
            <div class="col">
                <img src="https://media.istockphoto.com/id/183289521/photo/number-1.jpg?s=612x612&w=0&k=20&c=c_Rp_7wZUbt8p0ZPHPfwg3esqBHnTXLGQQetmR60v-g=" alt="#1" style="max-width: 250px; margin-left: 200px;">
                <p style="margin-left: 200px; font-family: roboto_condensed;">Rated number one photo contest platform</p>
                <p style="font-size: 7px; margin-left: 280px;">Source: RileyConwayMediaGroup</p>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <img src="/assets/images/undraw_polaroid_re_481f.svg" alt="" style="max-width: 250px; max-height: 250px;">
                <a routerLink="/signup" class="signup">Sign up</a>
            </div>
            <div class="col">
                <img src="/assets/images/undraw_engineering_team_a7n2.svg" alt="" style="max-width: 300px; max-height: 300px; margin-bottom: 40px;">
                <a routerLink="/categories" class="explore">Explore</a>
            </div>
            <div class="col">
                <img src="/assets/images/undraw_taking_selfie_re_wlgd.svg" alt="" style="max-width: 300px; max-height: 300px;">
                <a routerLink="/about" class="about">About</a>
            </div>
        </div>
    </div>
   
</div>