<div class="container">

    <div class="row">
        <div class="row align-items-start">
            <div class="col">
                <h1 style="text-align: center;">Post a photo contest through Witeboard</h1>
                <p style="text-align: center;">Witeboard is the ultimate all-in-one photo contest website! Create your own contest, vote in others, or participate in hundreds of contests!</p>
                <button type="button" class="btn btn-primary">Create a Post</button>
            </div>
            <div class="col">
                <img src="/assets/images/undraw_halloween_re_2kq1.svg" alt="" style="max-width: 250px;">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <h2>Why choose Witeboard?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, repellendus quae ad magni ratione, enim eligendi quaerat officiis omnis et inventore quo voluptate totam ea esse veritatis placeat dolorum consectetur.</p>
            </div>
            <div class="col">
                <img src="https://media.istockphoto.com/id/183289521/photo/number-1.jpg?s=612x612&w=0&k=20&c=c_Rp_7wZUbt8p0ZPHPfwg3esqBHnTXLGQQetmR60v-g=" alt="#1" style="max-width: 250px;">
                <p>Rated number one photo contest platform</p>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                <img src="/assets/images/undraw_polaroid_re_481f.svg" alt="" style="max-width: 300px; max-height: 300px;">
                <p>Sign up</p>
            </div>
            <div class="col">
                <img src="/assets/images/undraw_female_avatar_re_59g8.svg" alt="" style="max-width: 300px; max-height: 300px;">
                <p>Explore</p>
            </div>
            <div class="col">
                <img src="/assets/images/undraw_taking_selfie_re_wlgd.svg" alt="" style="max-width: 300px; max-height: 300px;">
                <p>About</p>
            </div>
        </div>
    </div>
   
</div>